@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mobile-sidebar{
  width: 5rem;
}

@media only screen and (max-width: 768px) {
  .fc-header-toolbar {
    flex-direction: column;
  }
  .fc-button-group {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .fc-day-grid-container {
    overflow-x: auto;
  }
  .fc-day-grid {
    width: 100%;
  }
}